* {
  background-color: bisque;
  font-family: cursive;
}
#myHeader {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 400%;
  text-align: center;
  color: slateblue;
}

nav {
  display: block;
  text-align: center;
}

nav a {
  margin: 50px;
  font-size: 200%;
  text-decoration: none;
  color: royalblue;
  background-color: #4caf50;
  padding: 15px 32px;
  border-radius: 50px 50px;
}

th,
td {
  border: 1px solid;
  text-align: center;
}

.ES {
  background-color: brown;
}

.JH {
  background-color: cyan;
}

.HS {
  background-color: chocolate;
}
