* {
  font-family: cursive;
  margin: 0;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

.site {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header header"
    "title sidebar sidebar sidebar"
    "footer footer footer footer";
}

.header {
  grid-area: header;
  font-weight: 100;
  font-size: 300%;
  background-color: #479ff7;
  padding-left: 15px;
  background-image: url(/Images/user.svg);
  background-position: 99%;
  background-repeat: no-repeat;
}

.header a {
  float: left;
}

.header hheader1 {
  color: #f9e94e;
}

.header header:hover {
  display: inline-flex;
  background-color: #555;
  color: #f9e94e;
  justify-self: auto;
}

:-webkit-any-link {
  color: #f9e94e;
}
.header img:hover {
  display: inline-block;
  color: white;
}

.navbar {
  grid-area: title;
  width: 200px;
  background-color: #6ce2cf;
  text-align: center;
  width: max-content;
}

.button {
  font-size: larger;
  display: block;
  block-size: auto;
  color: black;
  padding: 20px;
  text-decoration: none;
}

.Dark {
  background-color: #5ecdaf;
}

.navbar a:hover {
  background-color: #555;
  color: white;
}

.navbar a:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.main_site {
  grid-area: sidebar;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: start;
  align-content: flex-start;
}
.main_site h1 {
  height: 1.5em;
  font-size: 200%;
}

.main_site h2 {
  font-size: 150%;

  height: 2em;
}
.main_site h3 {
  font-size: 125%;

  height: 2em;
}
.main_site h4 {
  font-size: 125%;
  height: 2em;
}
.main_site h5 {
  font-size: 200%;
  height: 2em;
}

.footer {
  grid-area: footer;
  background-color: #479ff7;
  padding: 0;
  text-align: center;
}

.footer h2 {
  block-size: auto;
  font-size: 125%;
  color: #5a646f;
  text-decoration: none;
}
.footer a {
  font-size: 125%;
  color: #5a646f;
  text-decoration: none;
}

th,
td {
  border: 1px solid;
  text-align: center;
}

.ES {
  background-color: brown;
}

.JH {
  background-color: cyan;
}

.HS {
  background-color: chocolate;
}
